$rem-base: 14px;
$ratio: 1.175;

$container-width: 80rem;

$typesets: (
  default: (
    font-family: ('Simplon Norm', Arial, sans-serif),
    font-weight: 400,
    line-height-heading: 1.2,
    line-height-body: 1.6,
    text-transform: none,
    letter-spacing: 0
  ),
  display: (
    font-family: ('Simplon Norm', Arial, sans-serif),
    font-weight: 400,
    line-height: 1.2,
    text-transform: uppercase,
    letter-spacing: 0.2em
  ),
  monospace: (
    font-family: ('Courier New', Courier, monospace),
    font-weight: 400,
    line-height: 1.2,
    text-transform: none,
    letter-spacing: 0
  )
);

$modular-scale: (
  '0': 0,
  '1': 0.4rem,
  '2': 0.8rem,
  '3': 1.5rem,
  '4': 2.4rem,
  '5': 3rem,
  '6': 5rem,
  '7': 9rem,
  '8': 16rem,
  '9': 28rem,
  '10': 45rem
);

$greys:  #1f232b lighten(#1f232b, 5%) lighten(#1f232b, 15%) lighten(#1f232b, 25%) lighten(#1f232b, 45%) lighten(#1f232b, 60%) lighten(#1f232b, 78%) lighten(#1f232b, 83%);


$default-border-radius: 2px;
