@import 'fonts';
@import 'settings';

// Todo: use an alias for this.
@import '../../node_modules/decent-scss/modules/all';

* {
  box-sizing: border-box;
}

html,
body,
#__nuxt {
  height: 100%;
}

pre {
  line-height: 1.5;
}

.code {
  font-size: 0.75rem;
  background: #f2f3f5;
  padding: 0.55rem 0.55rem 0.4rem 0.4rem;
  border-radius: 1px;
  line-height: 1;
}

.demo-block {
  background: #ff7d10;
  border-radius: 1px;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.1);

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, #ff7d10 50%, darken(#ff7d10, 5%) 70%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, #ff7d10 50%, darken(#ff7d10, 5%) 70%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, #ff7d10 50%, darken(#ff7d10, 5%) 70%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, #ff7d10 50%, darken(#ff7d10, 5%) 70%); /* Standard syntax */
}
